# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CAB201-2024-sem-1.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
